# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Log/Temp files
.tmp/
tmp/
*.tmp
.logs/
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Ignore the compiled output and data.
dist/

# Node modules
node_modules/

# Project files
BEServer.cfg